# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
*.keystore

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Pods/
**/ios/.symlinks/

# Misc
*.class
*.log
*.iml
.idea/
.DS_Store

# Yig'ilgan APK/IPA — repo'ga tushmasin
*.apk
*.ipa
*.aab
